@font-face {
    font-family: 'Technique';
    src: url('/assets/font?family=technique&type=eot');
    src: url('/assets/font?family=technique&type=eot&iefix') format('eot'),
         url('/assets/font?family=technique&type=woff') format('woff'),
         url('/assets/font?family=technique&type=ttf') format('truetype'),
         url('/assets/font?family=technique&type=svg#webfontSKOuuhUP') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Technique Outline';
    src: url('/assets/font?family=technique&variant=outline&type=eot');
    src: url('/assets/font?family=technique&variant=outline&type=eot&iefix') format('eot'),
         url('/assets/font?family=technique&variant=outline&type=woff') format('woff'),
         url('/assets/font?family=technique&variant=outline&type=ttf') format('truetype'),
         url('/assets/font?family=technique&variant=outline&type=svg#webfontO3gtoO7e') format('svg');
    font-weight: normal;
    font-style: normal;
}

.darbo-logo { font-family: 'Technique'; }
.darbo-logo-outline { font-family: 'Technique Outline'; }